<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image [src]="urlImagen" *ngIf="urlImagen" style="height: 60px; width: 60px;" >
      </div>
      <mat-card-title>{{consumo.cliente.nombreCompleto}}</mat-card-title>
      <mat-card-subtitle>Total {{ consumo.total | currency  }} - {{consumo.fechaPedido | date : 'dd-MM-yyyy HH:mm:ss'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="urlImagen" *ngIf="urlImagen" style="height: 350px; width: 350px;" >
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let d of consumo.detalle">{{ d.cantidad }} {{ d.plato.nombre }} {{ d.plato.precio | currency }}</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="cerrar()" type="button">
        <mat-icon>close</mat-icon>
        <span>Cerrar</span>
      </button>
    </mat-card-actions>
</mat-card>
