<router-outlet></router-outlet>

<div *ngIf="activateRoute.children.length == 0">
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.dni}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombreCompleto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombreCompleto}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" [routerLink]="['edicion', row.id]">
                    <mat-icon aria-label="Actualizar">assignment</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="eliminar(row)">
                    <mat-icon aria-label="Eliminar">highlight_off</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <button mat-fab color="accent" style="float: right" routerLink='/cliente/nuevo'>
        <mat-icon>create</mat-icon>
    </button>
</div>