<form [formGroup]="form" (ngSubmit)="operar()" class="container">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="id" formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <div *ngIf="f.nombre.errors?.required" class="invalido">Nombres es requerido</div>
        <div *ngIf="f.nombre.errors?.minlength" class="invalido">Longitud minima de 2</div>
        <input matInput placeholder="Nombre del plato" formControlName="nombre" minlength="2" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Precio del plato" formControlName="precio" type="number" required>
    </mat-form-field>

    <img mat-card-image [src]="urlImagen" *ngIf="urlImagen" style="width: 200px;" >

    <button mat-raised-button onclick="document.getElementById('input_subida').click();" type="button">Adjuntar</button>
    <input id="input_subida" type="file" style="display:none;" (change)="seleccionar($event)" multiple>
    <p>{{labelFIle}}</p>

    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/plato' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
