<form [formGroup]="form" (ngSubmit)="operar()" class="container">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="id" formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <div *ngIf="f.dni.errors?.required" class="invalido">DNI es requerido</div>
        <div *ngIf="f.dni.errors?.minlength" class="invalido">EL DNI debe tener 7 caracteres</div>
        <input matInput placeholder="DNI" formControlName="dni" minlength="7" maxlength="7" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <div *ngIf="f.nombre.errors?.required" class="invalido">Nombre es requerido</div>
        <input matInput placeholder="Nombre del Cliente" formControlName="nombre" required>
    </mat-form-field>

    <img mat-card-image [src]="urlImagen" *ngIf="urlImagen" style="width: 200px;" >

    <button mat-raised-button onclick="document.getElementById('input_subida').click();" type="button">Adjuntar Foto</button>
    <input id="input_subida" type="file" style="display:none;" (change)="seleccionar($event)">
    <p>{{labelFIle}}</p>

    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/cliente' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>

