
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="id" [(ngModel)]="plato.id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre del plato" [(ngModel)]="plato.nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Precio del plato" [(ngModel)]="plato.precio" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" (click)="cancelar()" type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

